:root {
  --color-red: rgba(226, 30, 30, 0.767);
}

* {
  box-sizing: border-box;
}
button {
 margin: 1.2rem;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}
.App .App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: var(--color-red) 6px solid;
  margin: 0;
  color: var(--color-red);
}

.App .App-header .logo-container {
  width: 150px;
  height: 150px;
}

.App .App-header .logo-container img {
  width: 100%;
}

.App .App-body {
  padding: 1.5rem;
  height: 78%;
}

.App .App-footer {
  position: relative;
  bottom: 0;
  border-top: var(--color-red) 6px solid;
  text-align: center;
  padding: 1.4rem;
}
