:root {
  --color-red: rgba(226, 30, 30, 0.767);
}
.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: var(--color-red) 6px solid;
  margin: 0;
  color: var(--color-red);
}
.App-header .logo-container {
  width: 150px;
  height: 150px;
}

.App-header .logo-container img {
  width: 100%;
}

